/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nuxt Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Web Font Loader */
/*html {*/

/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6,*/
/*p,*/
/*ul,*/
/*li,*/
/*a {*/
/*opacity: 0;*/
/*transition: opacity 100ms ease-in;*/
/*}*/

/*&.wf-active {*/

/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6,*/
/*p,*/
/*ul,*/
/*li,*/
/*a {*/
/*opacity: 1;*/
/*}*/
/*}*/
/*}*/

#main {
  transition: all 350ms ease-in-out;
}

.blend-difference {
  mix-blend-mode: difference;
}

/* Hovering effects  */
.hover-container {
  z-index: -1;
}

.hover-item {
  z-index: -1;
  height: 280px;
  width: 280px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.1);
  transition: transform 125ms ease-in, opacity 180ms ease-in;
  mix-blend-mode: difference;
}

.hover-item .work-item {
  height: 280px;
  width: 280px;
  border-radius: 0;
}

.list-item {
  cursor: newcursor;
}

.list-item:hover .hover-item {
  opacity: .1;
  transform: scale(1);
}
