@font-face {
  font-family: "RoadRage";
  src: url("/static/fonts/RoadRage.woff") format("woff"),
    url("/static/fonts/RoadRage.otf") format("opentype"),
    url("/static/fonts/RoadRage.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

$font-roadrage: "RoadRage", sans-serif;
